@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Bricolage Grotesque", sans-serif; */
}
body {
  color: rgb(var(--foreground-rgb));
  background: #f6f5f1;


}
pre, .markdown-pre {
  color: #cdd9e0;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 13px;
  line-height: 20px;
  background-color: rgb(41, 39, 39);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown > * {
  all: revert !important;
}

.markdown-h3 {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
h1,
h2,
h3 {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.prose {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times,serif !important;
  /* font-family: "Bricolage Grotesque", sans-serif !important; */
  /* font-family: "Inter", sans-serif !important; */

}


pre {
  color: #cdd9e0;
  padding: 2rem;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bolder;
  background-color: rgb(36, 32, 32);
}

.stylish-underline {
  transition: all 0.5s ease-in-out;
  color: black;
}
.transition-underline {
  transition: all 0.5s ease-in-out;
}
.no-click {
  pointer-events: none;
  opacity: 0.2;
}
#spotlight-card {
  background-image: url("https://image.slidesdocs.com/responsive-images/background/green-environmental-chic-agency-simple-powerpoint-background_8faa31abfc__960_540.jpg");
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the background image */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  opacity: 1; /* Dull opacity */
  /* background-color: red; */
  position: relative; /* Allows for absolute positioning of content */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#spotlight-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Adjust background overlay for content readability */
  z-index: 1; /* Ensures overlay is above background image */
}

#spotlight-card > * {
  position: relative; /* Ensures content is above the background */
  z-index: 2; /* Keeps content above the overlay */
}

span[class*="PublishButton"] {
  display: none;
}
.mdx-a{
  font-weight: 500 !important;
  font-size: 17px  ;
  color: #3a8913 !important;
}