@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #efeff1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown > * {
  all: revert !important;
}
/* .markdown-h1 {
  letter-spacing: 0;
  line-height: 52px !important;
  margin-top: 1.2em !important;
  font-size: 42px;
  font-weight: 700;
  margin: 1rem 0;
  color: rgb(36, 36, 36);
  overflow-wrap: break-word;
  font-style: normal;
}
.markdown-h2 {
  letter-spacing: 0;
  line-height: 52px;
  margin: 0px;
  margin-top: 24px;
  font-size: 42px;
  font-weight: 800;
  color: rgb(36, 36, 36);
  overflow-wrap: break-word;
  font-style: normal;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
} */
